html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.legend {
    display: flex;
    flex-direction: column;
    padding: 5px;
    width: 20%;
    height: auto;
    outline: 2px solid grey;
}

p {
    padding:5px;
}

.line-container {
    display:flex;
    flex-direction:column;
    list-style:none;
}


.single-line {
    display: flex;
    flex-direction: row;
}

li.single-line h4{
    margin:0;
}

.line-name {
    background-color:aliceblue;
    width:20%;
}

.line-info {
    margin-top:5%;
}